//PEN HEADER
header.header
  h1.header__title Custom Cursor Inspiration
  .header__btns.btns
    a.header__btn.btn(
      href="https://github.com/nat-davydova/easter-icons-svg",
      title="Check on Github",
      target="_blank"
    ) Check on Github
    a.header__btn.btn(
      href="https://www.flaticon.com/packs/easter-day-41",
      title="Check on Github",
      target="_blank"
    ) Check original icons

//PEN CONTENT     
.content
  //content inner
  .content__inner
